@font-face {
    font-family: "Sabotage";
    font-weight: 400;
    font-style: normal;
    src: url('assets/sabotage.woff2') format('woff2');
    src: url('assets/sabotage.woff') format('woff');
} 

@font-face {
    font-family: "Sabotage";
    font-weight: 100;
    font-style: normal;
    src: url('HelveticaNeuelTStd-UltLtCn.woff2') format('woff2');
    src: url('HelveticaNeuelTStd-UltLtCn.woff') format('woff');
} 

@font-face {
    font-family: "Sabotage";
    font-weight: 200;
    font-style: normal;
    src: url('HelveticaNeuelTStd-ThCn.woff2') format('woff2');
    src: url('HelveticaNeuelTStd-ThCn.woff') format('woff');
} 

@font-face {
    font-family: "Sabotage";
    font-weight: 300;
    font-style: normal;
    src: url('HelveticaNeuelTStd-Th.woff2') format('woff2');
    src: url('HelveticaNeuelTStd-Th.woff') format('woff');
} 

@font-face {
    font-family: "Sabotage";
    font-weight: 400;
    font-style: normal;
    src: url('HelveticaNeuelTStd-Roman.woff2') format('woff2');
    src: url('HelveticaNeuelTStd-Roman.woff') format('woff');
} 

html {
    background-color: beige;
}  

body {
    font-family: 'Helvetica Neue Roman';
}

.wrapper {
    position: relative;
    background-color: rgb(206, 60, 15);
    margin: 4rem 4rem 0 4rem
}

.kicker {
    display: block;
    margin-bottom: 0.5rem;
}
